<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SoftwareName" value="WinformMVVM" />
		<add key="Version" value="V1.0" />
		<add key="DataBaseType" value="mysql" />
	</appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="mysql" connectionString="database=winform_mvvm;server=127.0.0.1;port=3308;userid=root;password=root;characterset=utf8;pooling=True;allowuservariables=True" />
	</connectionStrings>

</configuration>